*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
.navbar
{
    z-index: 999;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
}
#navbarNav .active
{
    background:#000 !important;
    color: #fff;
    border-radius: 20px;
}
#navbarNav ul li a
{
    color: #000 ;
    font-weight: bolder;
    margin:5px;
    padding:6px 10px;
    transition: 0.44s;
}
.navbar .navbar-brand img
{
    height: 50px;
}
#navbarNav ul li a:hover
{
    background:#000;
    color: #fff;
    border-radius: 20px;
}
/* about Section */


#aboutSection1
{
    height:100vh;
    width:100%;
    background-image: url('../img/man-worker-hard-hat-isolated-green-wall.jpg');
    background-size: cover;
    padding-top:150px;
    background-attachment: fixed;
}
#aboutSection1 h1
{
    font-size: 3rem;
}
#aboutSection1 p
{
    font-weight: bold;
}
#aboutSection1 .btn
{
    background:#e65100;
    color: #fff;
    border-radius: 0;
    padding:10px 20px;
    font-weight: bold;
    transition: 0.45s;
}
#aboutSection1 .btn:hover
{
    transform: translateY(20px);
}
#section4  .container 
{
    padding-top:120px;
}
#section4  span
{
    border-bottom: 2px solid #e65100;
}
#section4 .row span
{
    background:#e65100;
    padding:5px;
    color: #fff;
}
#section4 h1
{
    font-weight: bold;
}
#section4 h3 span
{
    padding:2px 10px;
    background:#3e2723;
    color: #fff;
}
#section4 i
{
    color: #e65100;
    font-size:3rem;
}
#section4 .back
{
    background:#3e2723;
    color: #fff;
}
#section6
{
    background:url('../img/footer.png');
    background-size: cover;
    background-position: center;
}
#section6 p
{
    color: #fff;
}
#section6 a
{
    color: #fff !important;
    text-decoration: none;
}
#section6 h4
{
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}
#section6 h6
{
    color: #fff;
    font-weight: bold;
}
#section6 ul li
{
    color: #fff;
    margin:5px auto;
    list-style-type: none;
}
#section7
{
    background-color: #000;
}
#section7 p
{
    font-size:0.7rem;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    #aboutSection1
    {
        background: #eeeeee !important;
        text-align: center;
    }
    #section4 h2
    {
        font-size:1.3rem;
        font-weight: bold;
    }
}